/* #addBookForm{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid blue;
    padding: 10px;
    visibility: hidden; */
/* } */


#libraryImage{
    max-height: 100px;
    max-width: 1000px;
    position: relative
}


.library{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;

}
/* 
table, th, td{
    border:.5px solid black;
}

table{
    width: 500px;
}
th{
    height: 40px;
}

td{
    width: 40px;
} */


/* .leftside{
    border-right-style: solid;
    border-color: black;
    width: 300px;
    padding-right: 25px;
} */

.libraryContents{
    padding-left: 20px;
}